@font-face {
  font-family: "Open Sans";
  src: url(../../Fonts/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSans ExtraBold";
  src: url(../../Fonts/static/OpenSans/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: "Montserrat Bold";
  src: url(../../Fonts/static/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "OxygenMono Regular";
  src: url(../../Fonts/static/OxygenMono-Regular/OxygenMono-Regular.ttf);
}
