.form {
  display: flex;
  padding: 10rem;

  &__group {
    margin-top: 5rem;
  }

  &__btn1 {
    background-color: var(--elements);
    border: none;
    justify-content: space-between;
    padding: 10rem;
    color: var(--text);
    font-weight: bold;
    border-radius: 5rem;
    margin-right: 50rem;
  }

  &__btn2 {
    background-color: var(--elements);
    border: none;
    justify-content: space-between;
    padding: 10rem;
    color: var(--text);
    font-weight: bold;
    border-radius: 5rem;
  }
}
