.hero {
  background-color: var(--background);
  padding: 10rem;
  font-family: sans-serif;
  background-attachment: fixed;

  &--bgimg {
    //background-image: url(../../images/hero-small.svg);
    background: url(../../images/hero-small.svg) no-repeat center;
    //height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    box-shadow: 0 3000px rgba(0, 0, 0, 0.5) inset; //0.7 controls the brightness of the tint, 3000px makes sure it goes all the way down
  }

  &__typeout {
    display: inline-block;
    vertical-align: bottom;
    font-weight: bold;
    padding-left: 5px;
  }

  &__typeout > span {
    color: var(--elements);
    font-size: 26rem;
    display: grid;
    height: 1.5em;
    overflow: hidden;
  }

  &__typeout span span {
    width: 0%;
    max-width: max-content;
    overflow: hidden;
    height: inherit;
    word-break: break-all;
    animation: c 0.5s infinite steps(1), t 2s linear infinite alternate,
      m 16s steps(4) infinite;
  }

  &__type span span:before {
    content: " ";
    display: inline-block;
  }

  @keyframes t {
    90%,
    100% {
      width: 100%;
    }
  }

  @keyframes c {
    0%,
    100% {
      box-shadow: 5px 0 0 #0000;
    }
    50% {
      box-shadow: 5px 0 0 crimson;
    }
  }

  @keyframes m {
    100% {
      transform: translateY(-400%);
    }
  }

  h1 {
    font-size: 26rem;
    color: var(--text);
    line-height: 30rem;
    margin-bottom: 15rem;
  }

  &__msg {
    display: flex;
    white-space: nowrap;
  }

  h2 {
    font-size: 19rem;
    font-family: "OxygenMono Regular";
    color: var(--text);
    line-height: 20rem;
    margin-bottom: 10rem;
  }

  @include respond-to("small") {
    //grid-template-columns: min-content, 1fr;
    &__wrap {
      display: grid;
      grid-row: 1 / 4;
      grid-column: 1 / 5;
      max-width: 895rem;
      margin: 10rem auto;
    }

    h1 {
      font-size: 38rem;
      max-width: 700rem;
      line-height: 40rem;
      padding: 10rem;
    }

    &__typeout {
      display: inline-block;
      vertical-align: bottom;
      font-weight: bold;
      padding-left: 5px;
    }

    &__typeout > span {
      color: var(--elements);
      font-size: 46rem;
      display: grid;
      height: 1.5em;
      overflow: hidden;
    }

    &__msg {
      display: flex;
      white-space: nowrap;
    }

    h2 {
      font-size: 28rem;
      line-height: 40rem;
      padding: 10rem;
      font-family: cursive;
    }

    &--bgimg {
      background-image: url(../../images/hero-big.svg);
    }
  }
}
