.topnav {
  display: grid;
  grid-template-columns: max-content 1fr min-content;
  grid-template-rows: repeat((2 min-content));
  background-color: var(--elements);

  &__image {
    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }
  }

  &__leftblock {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
  }
  &__name {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: inline-block;
    color: var(--text);
    margin-left: 10rem;
  }

  &__righthand {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    text-align: center;
    display: flex;
    padding: 12rem;
  }

  &__droplist {
    grid-row: 2 / 3;
    grid-column: 1 / -1; // This is same as using 1 /4 but this allows more flexibility
    background-color: var(--background);
    display: none;
    color: var(--text);
    //background-color: yellow;
  }

  &__toggle:checked ~ &__droplist {
    display: block;
    li {
      padding: 15rem 10rem;
      //border-bottom: 1px var(--text) solid;
      border-bottom: 1px var(--elements) solid;
    }
  }

  @include respond-to("small") {
    grid-template-columns: max-content 1fr;

    &__name {
      display: inline-block;
      font-size: 20rem;
      font-weight: bold;
    }

    &__righthand {
      display: none;
    }

    &__droplist {
      grid-column: 2 / 5;
      grid-row: 1 / 2;
      display: flex;
      justify-content: right; // this goes horizontal
      align-items: center; //this is vertical
      background-color: var(--elements);
      color: var(--text);
      font-size: 20rem;
      //border: none;
      //background-color: green;
      //display: inline;

      li {
        margin-left: 20rem;
      }
    }

    &__toggle:checked ~ &__droplist {
      display: flex;
      border: none;
    }
  }
}
